*{
    margin: 0;
    padding: 0;
    font-family: 'DynaPuff', cursive;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: #a44730;
}

.content-container{
    width: 100vw;
    height: 80vh;
    background-color: #a44730;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: space-evenly;
}

.center{
    width: 300px;
    display: grid;
    justify-content: center;
}

.player{
    width: 10rem;
    padding: .5rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #E78F63;
    border: none;
    color: #fffee9;
    border-radius: 5px;
}

.gif-container{
    background-image: url(assets/giphy.webp);
    width: 300px;
    height: 300px;
    background-size: contain;
}

.page-title{
    font-size: 4rem;
    color: #F7C7B1;
}

.players{
    width: 500px;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.loading-screen{
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: #a44730;
    display: grid;
    align-items: center;
    justify-items: center;
    display: none;
}

.loading-screen p{
    font-size: 2rem;
    color: white;
}

.circle {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #ffffff;
    border-radius: 50%;
    animation: loading 1s cubic-bezier(.8, .5, .2, 1.4) infinite;
    transform-origin: bottom center;
    position: relative;
}

@keyframes loading {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);

    }
}

.circle-1 {
    animation-delay: 0.1s;
}

.circle-2 {
    animation-delay: 0.2s;
}

.circle-3 {
    animation-delay: 0.3s;
}

.game-screen{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #a44730;
    display: none;
}

.game-board{
    width: 618px;
    height: 618px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.square{
    width: 200px;
    height: 200px;
    border: 3px solid #F7C7B1;
    cursor: pointer;
    border-radius: 15%;
    display: grid;
    justify-content: center;
    align-items: center;
}


.square:active{
    background-color: brown;
}

.restart{
    width: 100%;
    display: grid;
    justify-content: center;
}

.restart button{
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    background-color: #F7C7B1;
    color: brown;
    border: none;
    border-radius: 15px;
}

.restart button:active{
    background-color: brown;
    color: #F7C7B1;
}

.turn{
    font-size: 4rem;
    width: 100%;
    display: grid;
    justify-content: center;
    color: #F7C7B1;
}

.player-pic{
    background-image: url(assets/player.png);
    width: 100px;
    height: 100px;
    background-size: contain;
    margin-left: 1.7rem;
}

.player-choice{
    display: grid;
    width: 200px;
    height: 150px;
    justify-items: center;
}

.player-choice:hover .player-pic{
    transform: scale(1.1);
    transition: 0.3s ease;
}